/* Components */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 50px;
  margin: 14px auto 30px;
  border: none;
  border-radius: 8px;
  font-size: var(--md);
  font-weight: bold;
  cursor: pointer;
}
.button--primary {
  color: var(--white);
  background-color: var(--hospital-green);
}
.button--secondary {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
  background-color: var(--white);
}

.button__icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url('../assets/icons/bt_added_to_cart.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container {
  position: relative;
  opacity: 85%;
}
.icon-container--close {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transform: rotate(180deg);
  cursor: pointer;
  z-index: 2;
}

.icon-close {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url('../assets/icons/icon_close.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow {
  transform: rotate(180deg);
  margin-right: 14px;
}

.logo {
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}
.title {
  font-size: var(--lg);
  margin-bottom: 12px;
  text-align: center;
  text-align: start;
  padding: 12px;
}

.subtitle {
  color: var(--very-light-pink);
  font-size: var(--md);
  font-weight: 300;
  margin: 0 auto 32px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
}
.form-field__label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}
.form-field__input {
  background-color: var(--text-input-form-field);
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: var(--md);
  padding: 6px;
}
@media (max-width: 640px) {
  .logo {
    display: block;
  }
  .button--primary {
    position: absolute;
    width: 285px;
    justify-self: center;
    bottom: 0px;
  }
  .button--secondary {
    position: absolute;
    width: 285px;
    justify-self: center;
    bottom: 0px;
  }
}
